.bar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    position: relative;
    width: 1023px;
    border-radius: 5px;
    padding: 10px;
    background-color: #ff6060;
    z-index: 10;

    .fa-solid {
      font-size: 35px;
      color: white;
      transition: transform 0.5s;
      position: absolute;
      right: 10px;
      top: 20px;
      cursor: pointer;
    }

    .rotated {
      transform: rotate(180deg);
    }

    &--title {
      font-size: 24px;
      font-weight: 700;
      color: white;
      margin: 10px 0;
    }
    &--text{
      font-size: 18px;
    }
  }

  &__text {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #f6f6f673;
    width: 1023px;
    margin-bottom: 30px;
  }

  .open {
    .bar__text {
      max-height: 200px;
      opacity: 1;
    }
  }
}