.housing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    overflow-y: auto;
    gap: 60px;
    height: 829px;
    width: 1240px;
    border-radius: 25px;
    background-color: #f6f6f6;
    padding: 50px;
    box-sizing: border-box;
    &__card {
      height: 340px;
      width: 340px;
      border-radius: 10px;
      background-color: #ff6060;
      padding: 10px;
      box-sizing: border-box;
      &--image {
        object-fit: cover;
        width: 100%;
        height: 250px;
      }
      &--title {
        color: white;
        margin-top: 35px;
        font-size: 18px;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &--link {
        text-decoration: none;
      }
    }
  }